@import "reset.css";

body {font: 400 16px/1.3 'Roboto', sans-serif;}

.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1280px;
}

/* Header */

h1 {
  position: absolute;
  left: -50000000000px;
}

.header-acceuil {
  background-color: #fff;
  padding-bottom: 30px;
  padding-top: 20px;
  padding-right: 9.7%;
  position: fixed;
  top: 0;
  z-index: 2;
}
.boxlogo {
 display: inline;
 float: left;
}
.boxlogo img {
  width: 100px;
}
.boxslogan {
  float: left;
}
.boxslogan a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  margin-top: 45px;
  background: -webkit-linear-gradient(#d4efc9, #adeb93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-acceuil{
  float: left;
  margin-left: 7%;
}

nav .nav {
  float: left;
  margin-top: 40px;
  font-size: 0.9em;
  font-weight: bold;
}

.nav{
  width: 100%;
}

.nav li{
  float: left;
  margin-left: 2px;
}

nav .nav li a {
  width: 20%;
  text-align: center;
  color: #0095FF;
  text-decoration: none;
  text-transform: uppercase;
  color: #C0C0C0;
  padding: 7px;
}

nav .nav li a:hover{
  -webkit-box-shadow: 1px -1px 9px 9px rgba(219,215,219,1);
  -moz-box-shadow: 1px -1px 9px 9px rgba(219,215,219,1);
  box-shadow: 1px -1px 9px 9px rgba(219,215,219,1);
}

.boxregistered {
  float: right;
  margin-right: -15%;
  margin-top: 10px;
}
.connexion {
  float: left;
  text-align: center;
  margin-left: 15px;
}
.connexion a {
  text-decoration: none;
  text-align: center;
}
.login a {
  color: #C0C0C0;
}
.inscription a {
  color: #fff;
}
.inscription {
  float: left;
  background: #6DC2FF;
  background: linear-gradient( #3BACFC, #0095FF);
  border-radius: 8px;
  text-shadow: 0px .1px 0px #000;
  box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
  0 -1px 0 rgba( 255, 255, 255, 0.4);
  width: 100px;
  height: 25px;
  padding-top: 2px;
}
.inscription a {
  text-align: center;
  margin: 0 auto;
}
.inscription:hover {
  color: #222;
  background: #555;
  background: linear-gradient( #777, #333);
}
.inscription:active {
  color: #000;
  background: #444;
  background: linear-gradient( #555, #2C2C2C);
  box-shadow: 1px 1px 10px black inset,
  0 1px 0 rgba( 255, 255, 255, 0.4);
}

/* Fin header */

.wrap2 {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
}
.wrapfooter {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  background-color: #DF8826;
}
/* Travail section placement relative et absolute */
.section1 {
  position: relative;
  width: 100%;
  margin-top: 155px;
}

.boxpresentation {
  position: absolute;
  top: 0;
  left: 10%;
}
/* Fin section placement asbolute et realtive */

/* Slider */
.slider ul li {
  text-align: center;
}
.slider .slides li img {
  width: 100%;
}
.slider p {
  text-align: center;
  color: #F0E1CC;
  padding-bottom: 15px;
}
/* FIN SLIDER */

/* presentation box texte et image */

.boxpresentationtexte {
  float: left;
  width: 50%;
  padding-top: 20%;
}
.boxpresentationimg {
  float: right;
  width: 50%;
  padding-top: 20%;
}
 /* Fin pres box texte et image */

/* Section gauche texte */
.color {
  color: #001AFF;
}
 section .boxpresentationtitle {
   font-weight: bold;
   font-size: 1.5em;
   line-height: 120%;
   color: #fff;
   padding-top: 35px;
 }
 section .boxpresentationtxt {
   padding-top: 25px;
   font-size: .9em;
   color: #fff;
   font-weight: 0;
 }
section .boxpresentationliencreation {
  padding: 25px 0;
}
section .boxpresentationliencreation p {
  font-size: 1.4em;
  padding-top: 7px;
  background: #6DC2FF;
  background: linear-gradient( #3BACFC, #0095FF);
  width:200px;
  height: 43px;
  text-align: center;
  border-radius: 8px;
  text-shadow: 0px 1px 0px #000;
  box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
  0 -1px 0 rgba( 255, 255, 255, 0.4);
}
section .boxpresentationliencreation p:hover {
  color: #222;
  background: #555;
  background: linear-gradient( #777, #333);
}
section .boxpresentationliencreation p:active {
  color: #000;
  background: #444;
  background: linear-gradient( #555, #2C2C2C);
  box-shadow: 1px 1px 10px black inset,
  0 1px 0 rgba( 255, 255, 255, 0.4);
}
section .boxpresentationliencreation p a {
  color: #fff;
  text-decoration: none;
}
section .boxpresentationliencompte {
  padding-bottom: 46px;
}
section .boxpresentationliencompte p {
  font-size: 1.2em;
  color: #fff;
  font-weight: lighter;
}
section .boxpresentationliencompte p a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  text-decoration: underline;
}
section .boxpresentation img {
  width: 100%;
}
/* Fin section gauche texte  */

/* Debut section qui sommes nous */

.boxqsntitle h2 {
  padding-top: 25px;
  text-align: center;
  padding-bottom: 25px;
  font-weight: bold;
  font-size: 1.8em;
  color: #0095FF;
}

.wrapbox {
  max-width: 680px;
  margin: 0 auto;
  width: 100%;
}
.boxqsntxt p {
  text-align: center;
  font-size: 1em;
  padding-top: 25px;
}
.boxqsnimg {
  width: 100%;
}
.boxqsnimg img {
  width: 100%;
}
/* Fin section QSN */

/* Section vaccin */
.h2vaccination {
  font-size: 1.8em;
  text-align: center;
  padding: 50px 0;
  font-weight: bold;
  color: #0095FF;
}
.bigboxvaccination {
  float: left;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 100%;
  padding-left: 20px;
}
.boxvaccination {
  margin-right: 3%;
  float: right;
  width: 30%;
  padding-bottom: 15px;
}
.boxvaccination:hover {
  -webkit-box-shadow: 1px -1px 9px 9px rgba(219,215,219,1);
  -moz-box-shadow: 1px -1px 9px 9px rgba(219,215,219,1);
  box-shadow: 1px -1px 9px 9px rgba(219,215,219,1);
}
.boxvaccination h3 {
  text-align: center;
  color: #000;
}
.boxvaccination a {
  text-decoration: none;
}
.boximage {
  text-align: center;
  font-size: 6em;
  width: 100%;
}
.boximage1 a i {
  color: #035997;
}
.boximage2 a i {
  color: #B60A0A;
}
.boximage3 a i {
  color: #035997;
}
/* Fin section vaccin */

/* Footer */
.columns {
  margin-left: -3%;
}
.column {
  float:left;
  width: 22%;
  margin-left: 3%;
}

.column .column-title {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 25px;
  color : #fff;
  padding-top: 5px;
}
.Apropos {
  text-align: center;
  padding-bottom: 40.66px;
}
.Apropos li a {
  color: #fff;
}

/* Fin gestion colonnes */
/* Gestion icones colonne */
.icones {
  font-size: 3em;
  text-align: center;
  padding-bottom: 20px;
}
.facebook i {
  color: #3b5998;
}
.twitter i {
  color: #00acee;
}
.appstore i {
  color: black;
}
.playstore i {
  color: #D2691E;
}
.facebook i:hover {
  color: #B7BCC0;
}
.twitter i:hover {
  color: #B7BCC0;
}
.appstore i:hover {
  color: #B7BCC0;
}
.playstore i:hover {
  color: #B7BCC0;
}
/* Barre end footer */
.findepage p {
  text-align: center;
  background-color: #035997;
}
